:root {
  --green-main: #0f7645;
  --white: #fff;
  --light-blue: #00bec9;
  --opacity-green: #687b6c;
}
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.backgoundColorNav {
  background-color: #49644f;
  color: var(--white);
}

.textNav {
  color: var(--white) !important;
  font-size: 25px;
}

.nav-item {
  padding: 0px 10px;
}

.navbar {
  padding: 50px 100px;
  width: 100%;
  z-index: 999;
}

.divLogo {
  padding-right: 50px;
}

.sectionOne {
  padding-top: 50px;
  margin-bottom: 15px;
  background-color: var(--white);
}

.imgSectionOne {
  width: 100%;
  border-radius: 50%;
}

.titleSectionOne {
  color: var(--green-main);
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 34px;
}

.subTitleSectionOne {
  color: var(--green-main);
  font-size: 30px;
  margin: 0px;
  margin-bottom: 34px;
}

.divContentSection {
  padding: 0px 100px;
}

.divImgSectionOne {
  text-align: center;
}

.BtnSectionOneContato {
  background-color: var(--light-blue);
  border: none;
  padding: 17px 25px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 30px;
}

.BtnSectionOneNossoEspaco {
  padding: 17px 25px;
  font-size: 20px;
  font-weight: 600;
}

.DivTextSectionOne {
  margin-right: 40px;
}

.sectionTwo {
  background-color: var(--opacity-green);
}

.BtnSectionTwo {
  background-color: var(--light-blue);
  border: none;
  padding: 17px 25px;
  font-size: 20px;
  font-weight: 600;
}

.titleSectionTwo {
  color: var(--white);
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 34px;
}

.subTitleSectionTwo {
  color: var(--white);
  font-size: 30px;
  margin: 0px;
  margin-bottom: 34px;
}

.yellowSquareSectionTwo {
  background-color: #fcc302;
  width: 250px;
  height: 250px;
  margin: 0px -35px -35px;
  position: absolute;
  bottom: 0px;
}

.yellowBackSectionTwo {
  background-color: #fcc302;
  width: 550px;
}

.imgSectionTwo {
  opacity: 0.7;
  width: 100%;
}

.paddingFirstColSectionTwo {
  padding-right: 100px;
}

.titleSectionThree {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 34px;
  color: var(--green-main);
}

.subTitleSectionThree {
  font-size: 30px;
  margin-bottom: 34px;
  color: var(--green-main);
}

.imgSectionThree {
  width: 350px;
  padding: 5px;
  background-color: var(--green-main);
  margin-bottom: 40px;
}

.colImgSectionThree {
  text-align: -webkit-center;
}

.titleImgSectionThree {
  color: var(--green-main);
  font-size: 40px;
  font-weight: 600;
}

.subTitleImgSectionThree {
  color: var(--green-main);
  font-size: 25px;
  margin: 10px;
}

.textWebCenter {
  text-align: -webkit-center;
}

.CardSectionFour {
  width: 261px;
  margin: 20px;
  padding: 5px;
  background-color: #eeefea;
}

.titleCard {
  font-size: 17px;
  font-weight: 700;
  color: var(--green-main);
}

.textCard {
  font-size: 15px;
  font-weight: 500;
  color: var(--green-main);
}

.allTextsCard {
  padding: 20px;
}

.divImgSectionFive {
  background-image: url("../images/fotoCapa.jpg");
  height: 575px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.divYellowSectionFive {
  width: 100%;
  height: 100%;
  background-color: var(--opacity-green);
  opacity: 0.7;
  position: relative;
}

.divItensSectionFive {
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.titleSectionFive {
  font-size: 40px;
  color: var(--white);
  font-weight: 400;
  margin: 30px 0px 0px;
}

.textSectionFive {
  font-size: 30px;
  color: var(--white);
  font-weight: 300;
  text-decoration: none;
}

.divPaddingSectionFive {
  padding: 0px 60px;
}
